

.card{
    width: 20rem;
    display: flex;
    margin: 25px;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-width: 8px;
    --tw-border-opacity: 1;
    border-color: rgb(67 56 202 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    padding-bottom: 0.75rem;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

.card img{

    max-width: 100%;
    height: 250px;
}

.card-btns{
    margin: 15px ;
    display: flex;
}

.card-btns button{
    padding: 10px 12px;
    margin-right: 15px;
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    background: #ed563b;
}

.card-btns button:nth-child(even){
    background: rgb(204, 204, 63);
}

.card p{
    margin: 0;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
}