.main-component{
    width: 100vh;
    height: 100vh;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(35, 45, 57, 0.8);
}

.main-video{
    min-width: 100%;
    min-height: 90vh;
    max-width: 100%;
    max-height: 90vh;
    object-fit: cover;
    z-index: -1;
}

.main-info{
  width: 100%;
  max-width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: #fff;
}

.main-info p{
    font-size: 17px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.main-info h3{
    font-size: 45px;
    line-height: 1;
    font-weight: 900;
    margin: 25px 0;
}

.main-info h3 span{
    color: #ed563b;
}

.exercises-btn{
    padding-top: 25px;
}

.exercises-btn a{
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.75rem;
    background: #ed563b;
    padding: 13px 15px ;
    border-radius: 16px;
}

@media screen and (max-width: 768px){
    .main-info{
        margin: 10px;
    }
    .main-info h3{
        font-size: 36px;
    }
}

@media screen and (max-width:468px){
    .main-info h3{
        font-size: 30px;
        margin: 10px;
    }
    .main-info{
        margin: 10px;
    }
}