.pie-charts-section{
    margin: 30px auto;
}

.pie-charts-section h2{
    text-align: center;
}
.pie-chart{
    width: 300px;
    height: 300px;
    margin: 25px;
}

.pie-chart h3{
    text-align: center;
}

.pie-charts-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}